@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* 
Original layout by /u/Herkt https://www.reddit.com/r/FirefoxCSS/comments/7eazix/my_attempt_at_a_oneline_interface/ 
Use with compact density
 */

:root:-moz-lwtheme-brighttext {                                      /* minor color changes to the default dark theme */
	--color-overflow: #eee;                                            /* >> button color */
	--chrome-background-color: #111 !important;                        /* tab strip background & inactive tabs */
	--chrome-secondary-background-color: #222 !important;              /* nav bar & active tab */
	--chrome-color: #ccc !important;                                   /* url & tab text, close tab & new tab buttons */
	background-color: #333 !important;                                 /* top border of out of focus window */
}

:root:-moz-lwtheme-darktext {                                        /* minor changes to the default light theme */
	--color-overflow: #ddd;                                            /* >> button color */
	--chrome-background-color: #ccc !important;                        /* tab strip background & inactive tabs */
}

:root {
	--tabs-border: transparent !important;                             /* active tab left & right borders - not working in 58?*/
	--toolbox-border-bottom-color: transparent !important;             /* 1px line under background tabs */
	--chrome-nav-bar-controls-border-color: transparent !important;    /* border around url bar */
}
/*
#TabsToolbar *
{
	transition: all 250ms var(--animation-easing-function) !important;
}

#navigator-toolbox #TabsToolbar #tabbrowser-tabs {
	transition: none !important;
}
*/
/* Move Tab-bar beside Nav-bar */
#TabsToolbar {      
	margin-bottom: 0px !important;                /* not needed anymore? */
	margin-top: 0px !important;                   /*  */
	margin-left: 35vw !important;
	margin-right: 0px !important;  /*original 34px*/
	max-height: 32px !important;
}

#navigator-toolbox {
	box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

#navigator-toolbox, #TabsToolbar {
	background: #333 !important;
}
/*
.tabbrowser-tab[last-visible-tab] {
	border-inline-end: none !important;
} 
*/
#navigator-toolbox #nav-bar {      
	margin-bottom: -1px !important;               /* remove navbar bottom 1px border */
	margin-top: -32px !important;
	margin-right: 65vw !important; 
	border-top: none !important;
	z-index: 1000 !important;
	background: #444 !important;
	box-shadow: none !important;
	transition: all 250ms var(--animation-easing-function) !important;
	transition-delay: 0.5s !important;
	margin-left: -48px;
}   

#navigator-toolbox #nav-bar:hover {
	margin-right: 20vw !important;
	box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
	transition: all 250ms var(--animation-easing-function) !important;
	transition-delay: 0.1s !important;
	margin-left: 0;
}

:root:not([customizing]) #navigator-toolbox #nav-bar:focus-within {
	margin-right: 25vw !important;
	box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
	transition: all 250ms var(--animation-easing-function) !important; 
	transition-delay: 0.1s !important;
	margin-left: 0;
}

#nav-bar-customization-target {
	/*margin-left: -48px !important;*/
	transition: all 250ms var(--animation-easing-function) !important;
	transition-delay: 0.5s !important;
}

#urlbar {
	background-color: transparent !important;  /* Transparent URL Bar */
	border-style: none !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	min-height: 32px !important;
}

#urlbar * {
	color: #eee;
}

:root:not([customizing]) #nav-bar toolbarbutton:not(#alltabs_containersTab, #alltabs_containersMenuTab), /*fix all tab delay*/
:root:not([customizing]) #nav-bar #star-button-box
{
	/*margin-left: -28px !important;  */
	opacity: 1 !important; 
	transform: scale(0, 0) !important;  
	pointer-events: none !important;
	transition: all 250ms var(--animation-easing-function) !important; 
	transition-delay: 0.1s !important; 
}

#navigator-toolbox > #nav-bar:hover #nav-bar-customization-target,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #nav-bar-customization-target,
:root:not([customizing]) :hover > #titlebar #nav-bar #nav-bar-customization-target
{
	margin-left: 0 !important;
	transition: all 250ms var(--animation-easing-function) !important;
	transition-delay: 0.1s !important;
}

#navigator-toolbox > #nav-bar:hover toolbarbutton,
#navigator-toolbox > #nav-bar:hover #star-button-box,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #star-button-box,
:root:not([customizing]) :hover > #titlebar toolbarbutton,
:root:not([customizing]) :hover > #titlebar #star-button-box {
	transform: scale(1, 1) !important; 
	opacity:1 !important;
	/*margin-left:0px !important; */
	pointer-events: auto !important;
	transition: all 250ms var(--animation-easing-function) !important;
	transition-delay: 0.1s !important;
}

/* Remove padding above tabbar in compact mode */
#main-window[sizemode="normal"] > #titlebar {
	-moz-appearance: initial !important;
}

.toolbarbutton-icon, .toolbarbutton-badge-stack, .tab-close-button {
	/*border-radius: 35% !important;*/
	border-radius: 0 !important;
}

#identity-box, .urlbar-icon, #star-button-box {
	/*border-radius: 10px;*/
	border-radius: 0;
	max-height: 28px;
	margin-top: 2px;
}

/* Move hamburger menu to the left */
#navigator-toolbox #PanelUI-button {
	-moz-box-ordinal-group: 0 !important;
	background: transparent !important;
	margin-right: 2px; 
	transition: all 250ms var(--animation-easing-function) !important;
	transition-delay: 0.5s !important;
}
/*
:root:not([customizing]) #navigator-toolbox > #nav-bar #PanelUI-button toolbarbutton
{
	margin-left: 48px !important; 
	margin-right: -44px !important;*
	transform: scale(0, 1) !important;
}

:root:not([customizing]) #navigator-toolbox > #nav-bar:hover #PanelUI-button toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #PanelUI-button toolbarbutton {
	margin-left: 4px !important; 
	transform: scale(1, 1) !important;
	opacity: 1 !important;
	margin-right: 4px !important;
}

#navigator-toolbox > #nav-bar:hover #PanelUI-button,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #PanelUI-button {
	background: #333 !important;
	margin-right: 8px;
	transition: all 250ms var(--animation-easing-function) !important;
	transition-delay: 0.1s !important;
}
*/
/*:root:not([customizing]) #navigator-toolbox > #nav-bar > #PanelUI-button > toolbarbutton,*/
#customization-panel-container,
#customization-panelWrapper .panel-arrow { 
	margin-right: 4px !important;
	margin-left: 4px !important;
	opacity: 1 !important;
	transform: scale(1, 1) !important; 
} 
/*
#appMenu-popup {
	margin-right: -258px !important;
}

#appMenu-popup .panel-arrow {
	margin-right: 248px !important;
}
*/
/* More tools... button */
#nav-bar-overflow-button { 
	transform: scale(0.9, 0.9) !important;
	fill: var(--color-overflow) !important;
}  

/* Tabs */
.tabbrowser-tab {
	height: 32px !important; 
	text-shadow: none !important;
	color: #eee !important;
	border-top: none !important;
}
/*
.tabbrowser-tab[selected="true"] {
	background-color: #888 !important;
	color: #222 !important;
} */

.tabbrowser-tab:not([selected="true"]) {
	background: transparent !important;
	color: #eee !important;
	border: none !important;
}

.tab-background {
	background-image: none !important;
}

/* Remove empty space before first tab
Delete this rule if you need a space to drag the window*/
#TabsToolbar .titlebar-placeholder[type="pre-tabs"]{
	display: none !important;
}

/* Border between background tabs */
.tabbrowser-tab::after, .tabbrowser-tab::before {
	color: grey !important; 
	opacity: .2 !important; 
	transform: scale(1, 0.6);
}

/* New tab button color */
#new-tab-button, .tabs-newtab-button {
	fill: var(--chrome-color) !important;
} 

/* tab line - adjust color & size, default #0a84ff 2px 
.tab-line {
	background-color: #0a84ff !important;
	height: 0px !important;
} */

.tabbrowser-tab:not([selected="true"]) .tab-close-button {
	display: none !important;
}

.tabbrowser-tab:not([selected="true"]):not([pinned="true"]):hover .tab-close-button {
	display: -moz-box !important;
}


/* Hide various elements */
/* Menu */

/* URL Bar */
#pageActionButton,
#pocket-button-box,
ar-button,
.autocomplete-history-dropmarker,
#identity-icon-labels,
#toolbar-menubar, /*firefox menu*/
.tabbrowser-tab::after, /* tab seprator */
.tabbrowser-tab::before, 
.titlebar-spacer, /* Hide titlebar placeholder. */
.titlebar-spacer[type="pre-tabs"],  /* gaps before and after tab*/
.titlebar-spacer[type="post-tabs"],
.tabbrowser-arrowscrollbox > .scrollbutton-up, /*tabbar scroll bax arrow*/
.tabbrowser-arrowscrollbox > .scrollbutton-down,
.scrollbutton-up, /*BMB  scrollbutton will temporary appear somehow*/
.scrollbutton-down,
.tabbrowser-tab[fadein]:not([pinned]) .tab-icon-image, /*favicon*/
#back-button, #forward-button
{
	display: none !important;
}


/* Makes popups, menus and context menus dark */

.panel-arrowcontent,
#alltabs-popup .arrowscrollbox-scrollbox,
menupopup:not(#BMB_bookmarksPopup),
.textbox-contextmenu{
	border: none !important;
	background: #333 !important;
	color: #eee !important;
}

/* bookmarks menu is different from others 
#BMB_bookmarksPopup{
	background-color: unset !important;
}
*/
/* GENERAL */
menupopup,
menuitem,
menu{
	-moz-appearance: none !important;
}

menupopup{
	background-color:#333 !important; 
	border:none;
}

menuitem,
menu{
	min-height:24px !important;
	color: #eee !important;
}

menuitem[disabled="true"],
menu[disabled="true"]{
	color: #888 !important;
}

menuitem:hover,
menu:hover{
	background-color:#666 !important;
}

menuitem[disabled="true"]:hover,
menu[disabled="true"]:hover{
	background-color: transparent !important;
}

menupopup menuseparator {
	-moz-appearance: none !important;
	background-color: #666 !important;
	color: #666 !important;
	border: none !important;
	min-height: 1px !important;
	max-height: 1px !important;
	height: 1px !important;
	margin: 3px 6px 3px 28px !important;
}

.menu-right{ filter: invert(100%) }
#context-navigation{ background-color: transparent !important; }

/* POPUP PANELS */

.panel-subviews,
#mainPopupSet menupopup,
#main-menubar menupopup,
#bookmarks-menu-button menu menupopup > hbox,
.search-panel-header.search-panel-current-engine,
.search-panel-current-input,
panelview,
.PanelUI-subView,
.autocomplete-richlistbox{
	background-color:  #333 !important;
}

.subviewbutton:hover,
#widget-overflow-mainView .toolbarbutton-1:hover,
#PopupAutoCompleteRichResult .autocomplete-richlistitem:hover,
#PopupSearchAutoComplete .autocomplete-richlistitem:hover{
	background-color: #666 !important;
}


panelview toolbarbutton.subviewbutton .toolbarbutton-text,
#downloadsFooter,
#customizationui-widget-panel label,
.autocomplete-richlistitem .ac-title,
#widget-overflow-mainView toolbarbutton,
#bookmarks-menu-button menu menupopup,
#PopupSearchAutoComplete .autocomplete-tree.plain.search-panel-tree,
#PanelUI-contents toolbarbutton,
#sidebar-switcher-target,
/*#alltabs_containersTab,*/
#PopupAutoCompleteRichResult .ac-title,
#PopupAutoCompleteRichResult .search-one-offs,
.search-panel-input-value{
	color: #eee!important;
}
/*
#alltabs-popup,
#alltabs_containersMenuTab{
	border: none !important;
}
*/
.search-panel-one-offs,
.downloadsPanelFooterButton:not(:hover),
#overflowMenu-customize-button:not(:hover),
#searchbar-anon-search-settings{
	background-color: #ccc !important;
}

#PopupAutoCompleteRichResult .ac-emphasize-text.ac-emphasize-text-title{
	color: #444 !important;
}


/*personal tweaks */

/* Hide Top Items on Bookmark Menu Button drop-down */
#BMB_viewBookmarksSidebar, 
#BMB_bookmarksShowAllTop, 
#BMB_bookmarksShowAllTop + menuseparator, 
#BMB_recentBookmarks, 
#BMB_recentBookmarks + menuseparator, 
#BMB_bookmarksToolbar, 
#BMB_unsortedBookmarks, 
#BMB_mobileBookmarks, 
#BMB_mobileBookmarks + menuseparator {
  display: none !important;
}

.tab-throbber  {
	-moz-binding: url("userChrome.xml#js");
}

/* Hide non-overflow menu addon button */

toolbarbutton:not(#nav-bar-overflow-button) {
   margin: 0 -4px 0 -4px !important;
} 
#downloads-button, #nav-bar-overflow-button {
  transform:scale(1) !important; 
  }
  /* Tiny window controller */
 .titlebar-min, .titlebar-max, .titlebar-close{
  transform: scale(0.9) !important;
   padding: 0 10px !important;
 }
 
.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button {
  visibility: collapse !important;
}3
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  display: block !important;
}

 .tab-content[pinned] {
    padding: 0 3px 0 3px !important;
}

.tab-content:not([pinned]) {
    padding: 0 4px !important;
}
/* clean bookmarkbar */
scrollbox#PlacesToolbarItems > toolbarbutton.bookmark-item > .toolbarbutton-icon {
  display: none !important;
}
scrollbox#PlacesToolbarItems > toolbarbutton.bookmark-item{
  padding-left: 5px !Important;
  padding-right: 5px !Important;
}


.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button {
  visibility: collapse !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  display: block !important;
} 

/* More tools... button  */
#nav-bar-overflow-button { 
  -moz-box-ordinal-group: 0 !important;
} 

.tabbrowser-tab[pending="true"], .toolbarbutton-icon {
    filter: grayscale(80%) !important;
	margin-left: -2px !important;
	margin-right: -2px !important; 
}

/* Hide the green lock indicating SSL (HTTPS, encrypted connection) from the address bar.  */
#urlbar[pageproxystate="valid"] :-moz-any(.verifiedDomain,.verifiedIdentity) #connection-icon {
  display: none !important;
}
/* Hides the website name (when present) from the address bar, keeping only the location abbrevation.*/
#identity-icon-label { /* Hides the EV SSL label */
  visibility: collapse !important;
}

#identity-box:hover > #identity-icon-labels > #identity-icon-label { /* Shows the label on identity box hover */
  visibility: visible !important;
}

#tracking-protection-icon-box {
 display:none !important;
}

/* Hide info icon for sites that don't have permissions */
#identity-box > #identity-icon {
    transition: 300ms !important; /* Animate icon hiding */
	opacity: 0 !important; /* Make icons transparent */
	-moz-margin-end: -1.2em !important; /* Hide icons by offsetting them */
}

/* Show info icon on navbar hover, except for new tab page search icon */
#identity-box:hover #identity-icon {
    transition: 300ms !important; /* Animate icon showing */
	opacity: 1 !important; /* Make icons opaque */
	-moz-margin-end: initial !important; /* Use initial margins to show icons */
}
/* remove (US) */
#urlbar #identity-icon-country-label {
    visibility: collapse !important;
}
/* show on hover */
#identity-box:hover > #identity-icon-labels >  #identity-icon-country-label { /* Shows the label on identity box hover */
  visibility: visible !important;
}
/* collapsed SSL id box */
#identity-box {
    padding-inline-end: 2px !important;
    margin-inline-end: 4px !important;
    padding-inline-start: 2px !important;
}
/* Show on hover */
#identity-box:hover {
    padding-inline-end: 8px !important;
    margin-inline-end: 8px !important;
    padding-inline-start: 8px !important;
}
/* if insecure, make background red */
#urlbar[pageproxystate="valid"] > #identity-box.notSecure > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.insecureLoginForms > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.mixedActiveContent > #connection-icon {
  background: red !important;
}
/* if secure, highlight with green  */
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedDomain {
    background: rgba(66, 244, 167, 0.4) !important;
}
/* on hover, show normal colors */
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity:hover,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedDomain:hover {
    fill: currentColor !important;
    fill-opacity: .6 !important;
    background: rgba(66, 244, 167, 1.0) !important;
}
/* Hide those things on the right side of url bar */
#pageActionButton, #pocket-button-box,
#pageAction-urlbar-_e225ac78-5e83-484b-a16b-b6ed0924212f_,
#pageAction-urlbar-jid1-xufzosoflzsoxg_jetpack {
    visibility: collapse !important;
}

/* fonts */
:root {
    --tab-height: 26px; --tab-icon-size: 16px; --tab-strip-margin: 0px; --tab-overlap: -5px;
    --tab-fonts: "Noto Sans JP Medium", "Noto Sans TC Medium"; --url-font-size: 10pt;
    --tab-text-align: left; /* left | center | right */

    /* URL VARIABLES */
    --url-height: 22px; --url-right-margin: 0px; /*6 */
    --url-fonts: "Noto Sans JP", "Noto Sans TC"; --url-font-size: 10pt;
    --url-text-align: left; /* left | center | right */
    --url-position: absolute; /* absolute == top (under tabs) || fixed == bottom of browser */
}

@-moz-document url(chrome://browser/content/browser.xul) {
    * { box-sizing: border-box !important; }

    .tab-drop-indicator { margin-bottom: 0 !important; }

    #nav-bar {
		background: #000 !important; 
    }
        #nav-bar-customization-target, #urlbar-container, #urlbar {
            margin: 0 !important; padding: 0 !important;
            border-radius: 0 !important;
        }

                #urlbar {
                    /*border: none !important; padding: 0 2px 0 8px !important;
                    background: transparent !important;color: var(--url-color) !important; */
                    font-family: var(--url-fonts) !important; font-size: var(--url-font-size) !important;
                    text-align: var(--url-text-align) !important;
                    font-weight: 550 !important;
                    height: 100% !important;
                    /*margin-left: -4px !important; */
                }

    /* TABS */
    tab {
        font-family: var(--tab-fonts) !important;
        /*height: var(--tab-height) !important; min-height: var(--tab-height) !important;*/
        /* background: var(--bg-dark) !important; color: var(--fg-dark) !important; */
        font-size: var(--tab-font-size); text-shadow: none !important; text-align: var(--tab-text-align) !important;
    }
}

/* progress bar*/
.tab-throbber { display: none !important; }
.tab-loading-burst[bursting]::before {
background-image: none !important;
animation: unset !important;
} 

.tab-line[selected="true"] {
background-color : rgba(0, 138, 251, 0.9) !important; /* this sets the color of the line above the tab */
}
.tabbrowser-tab .tab-loading-burst{
background-image: linear-gradient(90deg, rgba(170, 5, 177, 0.88) , #BE0575) !important;
  background-repeat: no-repeat !important;
  transition: background-size 0.75s ease-out !important, opacity 0.5s linear;
  background-size: 0px 3px !important;
  background-position-y: top;
}
.tabbrowser-tab:not([busy]) .tab-loading-burst{
  opacity: 0;
}
.tabbrowser-tab[busy] .tab-loading-burst{
  background-size: 20% 3px !important;
  transition: background-size 0.5s ease-out;
}
.tabbrowser-tab[busy][progress] .tab-loading-burst{
  background-size: 100% 3px !important;
  transition-duration: 3s !important;
}
.tabbrowser-tab[bursting] .tab-loading-burst{
  background-size: 100% 3px !important;
  transition-duration: 0.75s;
}

#PanelUI-webext-ublock0_raymondhill_net-browser-action-view {
    min-width: 550px !important;
}
#PanelUI-webext-umatrix_raymondhill_net-browser-action-view {
    min-width: 550px !important;
}
